
.icon-user1:before { content: '\e800'; } /* '' */
.icon-login:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-chart-bar:before { content: '\e803'; } /* '' */
.icon-logout:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
