html {
    scroll-behavior: smooth;
}
body{
    background-color: #1B1F25;
    color: white;
    position: relative;
    margin: auto;
    margin-top: -16px;
    font-weight:normal; 
    font-family:Georgia, "Times New Roman", Times, serif;
}
a:hover {
	color: #36b92a;
    cursor: pointer;
}
a {
	text-decoration: none;
	color: #3F5EFB;
    cursor: pointer;
}
a {
    transition: all 0.5s ease-in-out;
}
::selection {
    color: #36b92a;
    background: none;
}
[contenteditable] {
    outline: 0px solid transparent;
}
h1, h2, h3, h4, h5, h6{
	font-family:Georgia, "Times New Roman", Times, serif;
}
h1, h3, h4, h5, h6{
	font-size:22px; 
	line-height:normal; 
	font-weight:normal; 
	text-transform:uppercase;
}
h2{
    font-size:18px; 
	line-height:normal; 
	font-weight:normal; 
	text-transform:uppercase;
}
#logo a{
    letter-spacing: 1px; /*ewentualnie wywalic sam nie wiem */
    z-index: 3;
    color: white; 
    margin: 0 auto; 
    padding: 10px;
    text-align: center;
    position: absolute; 
    transform: translate(250px, -100px); 
    mix-blend-mode: screen; 
    font-size:22px; 
}
#logo a:hover{
    color: #36b92a;
    opacity: 1.0;
}
#log_options{
    position: absolute;
    transform: translate(1250px, -100px); 
}
.log{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    height: 30px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    display: inline-block;
}
.log a{
    color: white;
}
.log a:hover{
    color: #36b92a;
}
#content2{
    width: 1200px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.popup{
    position: fixed;
    bottom: 35px;
    right: 20px;
    width: 300px;
    min-height: 50px;
}
.popup-title{
    padding: 15px;
    background: #3F5EFB;
    font-size: 30px;
    color: white;
} 
.popup-container {
    padding: 15px;
    background-color: white;
    color: black;
    text-align: center;
}
.close{
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.close:hover {
    color: #36b92a;
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out 0s;
}
footer{
    border: 1px solid #1a1d23;
    height: 25px;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}
footer a{
    color: white;
}