body{
    background-color: #F7CAC9;
    width: auto;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden; 
}
#message{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h1{
    text-align: center;
    color: #5B5EA6;
    line-height: auto;
}
h2{
    text-align: center;
    color: #5B5EA6
}